.border-sample1{
    
    font-family:Arial, Helvetica, sans-serif
}
header{
    color: #ffffff;
    font-size: 24pt;
    
}
footer{
    color: rgb(255, 255, 255);
    font-size: 8pt;
    font-style: italic;
    margin-bottom:0%;
}

body{
    color: #ffffff;
    background-color:#273036;
}
.Judul1{
    font-style: oblique;
}
.border-sample2{
    border: thin solid rgb(255, 255, 255);
    border-radius: 10px;
    font-family:monospace;
}
.judul2{
    font-family:monospace;
    font-size: 16pt;
    
}
.border-sample3{
    font-family: 'Sacramento', cursive;
    border: thin solid rgb(255, 255, 255);
    border-radius: 10px;
}
.judul3{
    font-family: 'Sacramento', cursive;
    font-size: 16pt;

}
.border-sample4{
    font-family: 'Shadows Into Light', cursive;
    border: thin solid rgb(255, 255, 255);
    border-radius: 10px;
}
.judul4{
    font-family: 'Shadows Into Light', cursive;
    font-size: 16pt;
}
.border-sample5{
    font-family: 'Press Start 2P', cursive;
    border: thin solid rgb(255, 255, 255);
    border-radius: 10px;
}
.judul5{
    font-family: 'Press Start 2P', cursive;
    font-size: 13pt;
}
.margin {
    margin-top: 0%;
    
}
.container {
    width: 100%;
    min-height: 200px;
    padding: 0;
    
 }